<div class="comment">
  <p class="comment-user">
    {{ comment.author }}:

    @if (comment.canDelete) {
      <button class="delete-comment-btn-inline" (click)="openDeleteModal()">Delete</button>
    }

    @if (showConfirmModal) {
      <app-confirmation-modal
        title="Delete Comment"
        message="Are you sure you want to delete this comment?"
        (confirmed)="deleteComment(comment.id)"
        (cancelled)="handleCancel()"
        (closed)="handleCancel()"
      />
    }

  </p>
  <p class="comment-date">{{ comment.created }}</p>
  <p class="comment-text">{{ comment.text }}</p>
</div>
@if (isLoading) {
  <app-loader class="loading-overlay" />
}


