<mat-toolbar color="primary" class="footer-toolbar">
  <div class="footer-content">
    <div class="social-buttons">
      <a mat-icon-button color="accent" href="https://www.facebook.com/profile.php?id=100003606486768" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a mat-icon-button color="accent" href="mailto:aleksandramileva96@gmail.com" target="_blank">
        <i class="fa-regular fa-envelope"></i>
      </a>
      <a mat-icon-button color="accent" href="https://www.linkedin.com/in/aleksandra-iv-mileva/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a mat-icon-button color="accent" href="https://github.com/aleksandra-mileva?tab=repositories" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>

    <div class="footer-text">
      © 2024 Aleksandra Mileva
    </div>
  </div>
</mat-toolbar>
