.cocktail-card-container {
  height: 480px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.32);
}


.no-radius {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 0 !important;
  flex-shrink: 0;
}

.card-body {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.card-title {
  margin: 0;
  font-weight: 400;
  font-size: 1.25rem;
}

.card-author {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}

mat-divider {
  margin: 0.5rem 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.footer-item {
  flex: 1;
  text-align: center;
  padding: 0 0.3rem;
  gap:  1rem;
}

.footer-item p {
  margin: 0 0 0.75rem;
}

.footer-item p.bold {
  font-weight: 500;
}

.details-wrapper {
  margin-top: auto;
  padding: 0 0 1.25rem 0;
  display: flex;
  justify-content: center;
}

.details-btn {
  display: block;
  width: 90%;
  font-size: 0.8rem;
  text-align: center;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 0;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.details-btn:hover {
  background-color: #5a6268;
}

