<mat-card class="cocktail-card-container mat-elevation-z4">
  <img mat-card-image [src]="cocktail.pictureUrl" alt="{{ cocktail.name }}" class="no-radius" />

  <mat-card-content class="card-body">
    <h5 class="card-title">{{ cocktail.name }}</h5>
    <p class="card-author">Added by: {{ cocktail.author }}</p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <div class="card-footer">
    <div class="footer-item">
      <p>Spirit</p>
      <p class="bold">{{ cocktail.spirit === 'NONE' ? 'None' : cocktail.spirit }}</p>
    </div>
    <div class="footer-item">
      <p>Flavour</p>
      <p class="bold">{{ cocktail.flavour.toLowerCase() | titlecase }}</p>
    </div>
    <div class="footer-item">
      <p>%</p>
      <p class="bold">{{ cocktail.percentAlcohol }}%</p>
    </div>
    <div class="footer-item">
      <p>Servings</p>
      <p class="bold">{{ cocktail.servings }}</p>
    </div>
  </div>

  <mat-card-actions class="details-wrapper">
    <a [routerLink]="['/cocktails/details', cocktail.id]"
       class="details-btn"
       mat-button>
      Details
    </a>
  </mat-card-actions>
</mat-card>
