<mat-toolbar color="primary" class="header-toolbar mat-elevation-z4">
  <div class="toolbar-content">
    <!-- LEFT: Logo -->
    <div class="left-section">
      <a routerLink="/" class="logo-link">
        <img src="/images/logo.png" alt="Logo" class="logo-img">
      </a>
    </div>

    <!-- CENTER: Navigation menus -->
    <div class="center-section nav-links">
      <button mat-button [matMenuTriggerFor]="cocktailMenu">Cocktails</button>
      <mat-menu #cocktailMenu="matMenu">
        <button mat-menu-item routerLink="/cocktails/all">All Cocktails</button>
        <button mat-menu-item routerLink="/cocktails/spirit/whiskey">Whiskey</button>
        <button mat-menu-item routerLink="/cocktails/spirit/tequila">Tequila</button>
        <button mat-menu-item routerLink="/cocktails/spirit/gin">Gin</button>
        <button mat-menu-item routerLink="/cocktails/spirit/rum">Rum</button>
        <button mat-menu-item routerLink="/cocktails/spirit/vodka">Vodka</button>
        <button mat-menu-item routerLink="/cocktails/spirit/brandy">Brandy</button>
        <button mat-menu-item routerLink="/cocktails/spirit/none">Non alcoholic</button>
      </mat-menu>

      <button mat-button routerLink="/cocktails/search">Search</button>
      @if (isLogged) {
        <button mat-button routerLink="/cocktails/add">Add Cocktail</button>
        <button mat-button [matMenuTriggerFor]="profileMenu">User</button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item [routerLink]="['/users/profile', userId]">Profile</button>
          <button mat-menu-item routerLink="/users/profile/1/addedCocktails">My Cocktails</button>
          <button mat-menu-item routerLink="/users/profile/1/favoriteCocktails">My Favorites</button>
        </mat-menu>
      }

      @if (isAdmin) {
        <button mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
        <mat-menu #adminMenu="matMenu">
          <button mat-menu-item routerLink="/statistics">Statistics</button>
        </mat-menu>
      }
    </div>

    <!-- RIGHT: Welcome & Auth buttons -->
    <div class="right-section">
      @if (isLogged) {
        <span class="welcome-text">Welcome, {{ username }}</span>
        <button mat-button class="logout-btn" (click)="logout()">Logout</button>
      } @else {
        <button mat-button routerLink="/users/register">Register</button>
        <button mat-button routerLink="/users/login">Login</button>
      }
    </div>
  </div>
</mat-toolbar>
