<div class="cocktail-list-container">
  <h2 class="cocktail-list-header">
    Favorite Cocktails ({{ totalElements }})
  </h2>

  <div class="cocktail-list">
    @for (cocktail of cocktails; track $index) {
      <app-cocktail-card
        [cocktail]="cocktail"
        class="cocktail-card"
      />
    }
  </div>

  <!--  <app-pagination-->
  <!--    [page]="page"-->
  <!--    [totalPages]="totalPages"-->
  <!--    (pageChange)="loadCocktails($event)">-->
  <!--  </app-pagination>-->

  <div class="paginator-wrapper">
    <mat-paginator
      [length]="totalElements"
      [pageSize]="size"
      [pageIndex]="page"
      (page)="loadCocktails($event)">
    </mat-paginator>
  </div>
</div>
@if (isLoading) {
  <app-loader class="loading-overlay" />
}
