<div class="home-container">
  <a
    class="image-wrapper"
    [routerLink]="['/cocktails/details', homeView?.cocktail?.id]"
    role="button"
    tabindex="0"
  >
    <img
      [src]="homeView?.cocktail?.pictureUrl"
      alt="Cocktail"
      class="cocktail-image"
    />

    <div class="overlay-content">
      <div class="message">{{ homeView?.message }}</div>
      <div class="info-text">
        <p>Cocktail added by: {{ homeView?.cocktail?.authorFullName }}</p>
      </div>
    </div>
  </a>
</div>
